.cart{
    width: 100%;
    max-width: 330px;
    background-color: white;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    padding: 50px 20px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transform: translate(110%, 0);
    transition: all 400ms ease;
}

.cart-active{transform: translate(0);}

.info-products{
    background-color: rgba(100, 73, 175, 0.37);
    overflow: auto;
}


.cart-resume{
    font-size: 1.5rem;
    font-weight: 500;
    padding: 15px 0 ;
    border-top: 1px solid #ddd;
    font-style: italic;
    background-color: rgb(172, 153, 116);
    color: wheat;
    padding-left: 5px;
}

